@media screen and (min-width:414px) and (max-width: 736px)
{
       /* INITIALIZING THE COLOR PALETTE  */
:root{
    --primary: #ffffff;
    --dark: #333;
    --btncolor: #8E847C;
    --brown:rgb(44, 4, 4);
    --yellow:rgb(157, 255, 0);
}
    /* TARGETTING THE BODY IMAGE PART  */
    body{
        position: absolute;
        background-image: url("bgmov1.png") ;
        background-size: cover;
        background-attachment: fixed;
        width: 348px;
        /* width: 1400px; */
        height:1080px;
    }
    /* TARGETTING THE LOGO PART  */
    .left img {
        position: fixed;
        width: 50px;
        height: 50px;
        margin-left: 32px;
        margin-top: 26px;
    }
    
    /* TARGETTING THE BOB MARLEY PART  */
    .leftintro h1{
        margin-top: 524px;
        margin-left: 31px;
        width: 300px;
        font-size: 37px;
        /* transition: all 1s ease; */
    }

    /* TARGETTING THE ABOUT BOB MARLEY PART  */
    .leftintro p#about {
        margin-top: 578px;
        margin-left: 35px;
        font-size: 13px;
        width: 282px;
        opacity: 75%;
    }
 /* TARGETTING THE RIGHT INTO PART  */
 .rightintro {
    position: absolute;
    margin-left: 53px;
    margin-top: 492px;
}

/* playlist part  */
.rightintro h2#playlist {
    font-size: 30px;
    margin-top: -109px;
    margin-left: -26px;
}

/* TOP 10 PART  */
.rightintro h2#top10 {
    font-size: 16px;
    margin-top: -69px;
    margin-left: -26px;
}
/* BUTTON  */
.rightintro button#btn {
    width: 151px;
    height: 40px;
    position: fixed;
    background-color: var(--btncolor);
    border-radius: 50px;
    border: none;
    outline: none;
    margin-left: -35px;
    transition: all 1s ease;
    margin-top: -36px;
}

/* TARGETTING THE PLAY bUTTON  */
#btn img#play {
    margin-right: -179px;
    position: fixed;
    margin-top: -20px;
    margin-left: 46px;
    cursor: pointer;
    width: 15px;
    height: 19px;
}

/* h5 target  */
h5#Listen {
    color: var(--primary);
    font-weight: 300;
    font-size: 15px;
    margin-top: 1px;
    margin-left: -34px;
    transition: all 1s ease;
}

/* ADDING A HOVER EFFECT  */
h5#Listen:hover{
    color: var(--yellow);
}

/* TARGETTING THE HAMBERGER ICON  */
.hamberger {
    border: none;
    width: 19px;
    height: 24px;
    position: fixed;
    margin-left: 350px;
    margin-top: 38px;
    z-index: -1;
    background: transparent;
    outline: none;
    cursor: pointer;
}

/* TARGETTING THE LIST  */
ul {
    position: fixed;
    margin-left: 44px;
    margin-top: 683px;
    width: 455px;
}

ul li a img{
    width: 20px;
    height: 19px;
}
}